.container {
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  vertical-align: center;
}

.dragbox {
  flex-basis: 100%;
  background: #ddd;
  width: 100%;
  padding: 20px;
  border-radius: 10%
}

.column h4 {
  text-align: center;
  font-size: 22px
}

.word-box-item {
  border-radius: 3px;
  cursor: pointer;
  height: 1em;
  margin: .5em;
  text-align: left;
}

.invisible {
  display: none
}

.carousel {
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: gold;
}

.carousel-control-prev, .carousel-control-next {
  height: 100px;
  width: 50px;
  vertical-align: center;
}

.exercise-item {
  margin: 0 7em 0 7em;
  width: calc(100% - 200px);
  flex-wrap: wrap;
}
